


{% extends 'layouts/main.html' %}
{% block title %}Tsunami | {{player.first_name}} {{player.last_name}}{% endblock %}
{% block content %}



{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-block alert-info fade in">
        <a class="close" data-dismiss="alert">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div class="row shows">
    <h1>{{ player.first_name }} {{ player.last_name}}</h1>
    <div class="col-sm-6">
      <div style="background-image: linear-gradient(to bottom right, {{team.color1}}, {{team.color2}});" class="tile tile-show">
        <img src="{{player.image}}" alt="Logo for {{player.name}}">
      </div>
      <div style="display: flex">
        <h3>
          <a href="/players/{{player.id}}/edit"><button class="btn btn-primary btn-lg">✏️</button></a>
        </h3>
        <h3>
          <a href="/players/{{player.id}}/delete"><button class="btn btn-primary btn-lg">🗑️</button></a>
        </h3>
        </div>
    </div>
    <div class="col-sm-6">
      <h3>ID: {{player.id}}</h3>

        <h2>Position: {{player.position}}</h2>
        <h1>#{{player.number}}</h1>

    </div>



</div>

{% endblock %}
